@model TodoItem

<h2>Are u sure want to delete this?</h2>

<p><strong>@Model.Title</strong></p>

<form asp-action = "Delete" method="post">
	<input type="hidden" asp-for ="Id"/>
	<button type = "submit" class="btn btn-danger">Yes,Delete</button>
</form>
<a asp-action = "Index">Cancel</a>